.gradle
.bloop
beakerx
*.dump
/build/
*/build/
build/
.idea
out/
*.ipr
*.iml
*.iws
.env
.DS_Store
*.hprof
.metals/
deployment/k8s/athena/bootstrapcli.jar
deployment/k8s/athena/athena
deployment/k8s/proscim/proscim
project/metals.sbt
codegen/clib/.scalafmt.conf
**/resources/generated
*/resources/generated/
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea/
codegen_test/*
*/.idea/
modules/app/public/dist/*
modules/app/public/dist/index.html
modules/app/public/dist/asset-manifest.json
.metals
.classpath
.settings/
.cache-main
.cache-tests
.project
*/project/
*/bin/
*/target/
*/target213/
*/logs
*/.terraform



target/
target213/
deployment/k8s/saasmanager/docs/
web/node_modules/*
web/nvm/*/
/node_modules/*
app/*
codegen/codegen.iml
initialize/initialize.ml
kub/nginx/
metagraph/public/ace-editor/demo/kitchen-sink/kitchen-sink.iml
metagraph/public/ace-editor/demo/kitchen-sink/kitchen-sink2.iml
sdlcommon/src/main/main.iml
initialize/initialize.iml
*.tgz
web/dist/*
/.terraform//terraform-provider*
kub/terraform-kops/out/terraform/.terraform/plugins/darwin_amd64/terraform-provider-aws*
.terraform
kub/terraform-kops/out/terraform/terraform.tfstate.backup
*.pyc
/bin/
.ensime
ensime.sbt
.ensime_cache/
kub/deploy_management/login.sh
kub/deploy_management/login.sh-e
codegen/app-2.11/
codegen/test-2.11/
kub/sbt-image/dummyProj/spark-warehouse/
sdlcommon/src/main/java/
sdlcommon/src/main/scala-2.11/
sdlcommon/src/test/
spark-warehouse/
pc.stdout.log
ensime-langserver.log
.metaserver/
*.log
*.retry
kub/deploy_management_dev2/login.sh
kub/deploy_management_dev2/login.sh-e
kub/deploy_management_recvue/login.sh
kub/deploy_management_recvue/login.sh-e
kub/spark_pod/jupyter-notebook/spark-notebook/notebook.zip
kub/spark_pod/jupyter-notebook/spark-notebook/toree.tar.gz
kub/spark_pod/jupyter-notebook/spark-notebook/toree.tgz
kub/py3


docs/public/*
/.ideaDataSources/*
/dataSources/*

metastore_db/*
*~
*.swp
*.swo
docs/resources/_gen/images/
x/lvars.sh

x/lvars.sh.maciej
modules/common/core/src/test/resources/project1/
.scannerwork/*

nohup.out
.bsp

.vscode

modules/common/core/src/main/resources/JPY/linux_x86_64/jpyconfig.properties
modules/common/core/src/main/resources/JPY/darwin/jpyconfig.properties
.run/
modules/sparkedge/sparklibs/target213/*
