<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="WARN" />
    <logger name="application" level="INFO" />
    <logger name="common" level="INFO" />
    <logger name="lsm" level="INFO" />
    <logger name="raft" level="INFO" />
    <logger name="controller" level="INFO" />
    <logger name="controller.RequestController" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>